@media only screen and (max-width: 600px) {
  .drawerImg2 {
    height: 250px;
    width: "auto";
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .drawerImg2 {
    display: none;
  }
}

.modalTriggerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 5px;
  bottom: 0;
  background-color: black;
  color: white;
}

.drawerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  height: 100vh;
  background-color: black;
  color: white;
}

.trackArtistsDiv {
  display: flex;
  gap: 10px;
}

.waveformRef {
  width: 95%;
}

.controlsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.drawerImg1 {
  height: 40px;
  width: auto;
}
