.waveformMain {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}

.waveformMain > :nth-child(1) {
  width: 20%;
}

.waveformMain > :nth-child(2) {
  width: 75%;
}

/* .waveformMain > :nth-child(3) {
  width: 5%;
} */

.trackinfoDiv {
  display: flex;
  color: white;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  white-space: nowrap;
  gap: 10px;
}

.trackTitle {
  font-size: 20px;
  color: rgb(234, 162, 42);
}

.trackImg {
  width: auto;
  height: 70px;
}

/* .waveformDiv {
} */

/* .controlsDiv {
  display: flex;
  justify-content: end;
  background-color: red;
} */
