@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1280px) {
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  /* default background color for all components */
  background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quantify;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

input,
button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

input,
a,
p {
  font-weight: 300;
}

@font-face {
  font-family: "Quantify";
  src: local("Quantify"),
    url("../../assets/fonts/Quantify.ttf") format("truetype");
}
