@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1280px) {
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  /* default background color for all components */
  background-color: #262626;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
