@media only screen and (max-width: 600px) {
  .auditoryMainContainer {
    display: flex;
    flex-direction: column;
  }

  /* .waveformDiv {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  }

  .waveformDiv > :nth-child(1) {
    width: 95%;
  } */
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .auditoryMainContainer {
    display: flex;
    justify-content: space-between;
  }

  /* .waveformDiv {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  }

  .waveformDiv > :nth-child(1) {
    width: 95%;
  } */
}

@media only screen and (min-width: 1280px) {
  .auditoryMainContainer {
    display: flex;
    justify-content: space-between;
  }

  /* .waveformDiv {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .waveformDiv > :nth-child(1) {
    width: 95%;
  } */
}

.auditoryMainContainer {
  padding-left: 10px;
  padding-right: 10px;
}
