@media only screen and (max-width: 600px) {
  .auditoryMainContainer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .auditoryMainContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .auditoryMainContainer {
    display: flex;
    justify-content: space-between;
  }
}

.auditoryMainContainer {
  padding-left: 10px;
  padding-right: 10px;
  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}

.tracksDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trackTitle {
  cursor: pointer;
}

.artistLink {
  cursor: pointer;
  text-decoration: none;
  color: rgb(234, 162, 42);
}

.tagsDiv {
  display: flex;
  gap: 10px;
}

.tag {
  font-size: 12px;
}
