@media only screen and (max-width: 600px) {
  .auditoryMainContainer {
    flex-direction: column;
  }

  .auditoryTrackPhoto {
    width: 150px;
    height: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .auditoryMainContainer {
    justify-content: space-between;
  }

  .auditoryTrackPhoto {
    width: 150px;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .auditoryMainContainer {
    justify-content: space-between;
  }

  .auditoryTrackPhoto {
    width: 200px;
    height: auto;
  }
}

.auditoryMainContainer {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}

.auditoryTracksDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.auditoryTrackContainer {
  /* display: flex; */
  /* align-items: center; */
  gap: 5px;
}

.auditoryTrackTitlePlayDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auditoryTrackTitle {
  font-family: Quantify;
}

.auditoryArtistInfoDiv {
  display: flex;
  flex-direction: column;
}

.auditoryArtistLink {
  cursor: pointer;
  text-decoration: none;
  color: rgb(234, 162, 42);
}

.auditoryArtistLink:hover {
  text-decoration: underline;
}

.auditoryTagsDiv {
  display: flex;
  gap: 10px;
}

.auditoryTag {
  font-size: 12px;
}

.auditoryPostedDate {
  font-size: 10px;
}
