@media only screen and (max-width: 600px) {
  .homeImg {
    width: 300px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .homeImg {
    width: 400px;
  }
}

@media only screen and (min-width: 1280px) {
  .homeImg {
    width: 600px;
  }
}

.homeMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  height: 100vh;
  background-color: black;
}

.imgLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImg {
  cursor: pointer;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease;
}

.homeImg.imgLoaded {
  opacity: 1;
}

.homeTitle {
  color: black;
}

/* layering images and effects */
#homeImg1 {
  z-index: 0;
}

#homeImg2 {
  z-index: 1;
}

#homeImg3 {
  z-index: 2;
}

#homeImg4 {
  z-index: 3;
}
