/* @media only screen and (max-width: 600px) {
  .visualMainContainer {
    display: flex;
    flex-direction: column;
  }

  .video-js {
    width: 300px;
    height: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .visualMainContainer {
    display: flex;
    justify-content: space-between;
  }

  .video-js {
    width: 300px;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .visualMainContainer {
    display: flex;
    justify-content: space-between;
  }

  .video-js {
    width: 800px;
    height: auto;
  }
} */

.visualMainContainer {
  padding-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}
