@media only screen and (max-width: 600px) {
  .chatFeed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  /* .chatMainContainer {
    display: none;
  } */
}

@media only screen and (min-width: 1280px) {
  .chatFeed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.chatForm {
  display: flex;
  gap: 3px;
}

.chatFormElement {
  height: 25px;
  border: none;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
